﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.3.1207/styles/kendo.default-v2.min.css" />
    <script src="https://kendo.cdn.telerik.com/2021.3.1207/js/kendo.all.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.3.1207/js/jszip.min.js"></script>

</head>
<body>

    <ul class="nav nav-tabs" id="tabs">
        <li class="active" id="statistic"><a data-toggle="tab" href="#home">Thống kê</a></li>
        <li><a data-toggle="tab" href="#detail">Chi tiết</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <button id="exportKendo">Export to Excel using Kendo</button>
            <button id="exportEPPlus">Export to Excel using EPPlus</button>
            <div id="grid"></div>
        </div>
        <div id="detail" class="tab-pane fade">
            <div id="detail-grid"></div>
        </div>
    </div>

    <script>
        var detail_grid
      
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: function (options) {
                    $.ajax({
                        url: '/Home/GetReport',
                        type: 'POST',
                        dataType: "json",
                        contentType: 'application/json',
                        data: JSON.stringify(options.data),
                        success: function (result) {
                            var data = getData(result);
                            options.success(data);
                        }
                    });
                }
            },
            serverPaging: true,
            schema: {
                data: "data",
                total: "total"
            },
            pageSize: 10
        });

        function getData(result) {
            return { data: result, total: result[0].TotalRecords };
        }

        //Insert Cell Header
        var rows = [{
            cells: [
                { value: "Vùng/Chi nhánh", rowSpan: 3, vAlign: "center", hAlign: "center", bold: true, background: "#A1A4A4"},
                { value: "Tổng", rowSpan: 3, vAlign: "center", hAlign: "center", bold: true, background: "#A1A4A4"},
                { value: "Chưa xử lý", colSpan: 2, vAlign: "center", hAlign: "center", bold: true, background: "#A1A4A4" }, 
                { value: "Đang xử lý", colSpan: 2, vAlign: "center", hAlign: "center", bold: true, background: "#A1A4A4" },
                { value: "Xử lý hoàn tất", colSpan: 4, vAlign: "center", hAlign: "center", bold: true, background: "#A1A4A4" },
            ]
        },
        {
            cells: [
                { value: "Số lượng", rowSpan: 2, vAlign: "center", hAlign: "center", bold: true, background: "#FFDAFC" },
                { value: "Tỷ lệ", rowSpan: 2, vAlign: "center", hAlign: "center", bold: true, background: "#FFDAFC" },
                { value: "Số lượng", rowSpan: 2, vAlign: "center", hAlign: "center", bold: true, background: "#FFDAFC" },
                { value: "Tỷ lệ", rowSpan: 2, vAlign: "center", hAlign: "center", bold: true, background: "#FFDAFC" },
                { value: "Trong 5 ngày", colSpan: 2, vAlign: "center", hAlign: "center", bold: true, background: "#FFDAFC" },
                { value: "Quá 5 ngày", colSpan: 2, vAlign: "center", hAlign: "center", bold: true, background: "#FFDAFC" },
            ]
        },
        {
            cells: [
                { value: "Số lượng (1)", vAlign: "center", hAlign: "center", bold: true, background: "#A4F9F9"},
                { value: "Tỷ lệ", vAlign: "center", hAlign: "center", bold: true, background: "#A4F9F9" },
                { value: "Số lượng (2)", vAlign: "center", hAlign: "center", bold: true, background: "#A4F9F9" },
                { value: "Tỷ lệ", vAlign: "center", hAlign: "center", bold: true, background: "#A4F9F9" },
            ]
        }];

        $("#exportKendo").click(function () {
            var data = dataSource.data();
            for (var i = 0; i < data.length; i++) {
                // Push single row for every record.
                rows.push({
                    cells: [
                        { value: data[i].SubCompanyOrBranchName },
                        { value: data[i].Total },
                        { value: data[i].CountNotProcessedYet },
                        { value: data[i].PercentNotProcessedYet },
                        { value: data[i].CountProcessing },
                        { value: data[i].PercentProcessing },
                        { value: data[i].CountProcessedIn5Days },
                        { value: data[i].PercentProcessedIn5Days },
                        { value: data[i].CountProcessedOver5Days },
                        { value: data[i].PercentProcessedOver5Days }
                    ]
                })
            }
            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                    {
                        frozenRows: 3,
                        columns: [
                            { width: 200 },
                            { width: 80 },
                            { width: 120 },
                            { width: 120 },
                            { width: 120 },
                            { width: 120 },
                            { width: 120 },
                            { width: 120 },
                            { width: 120 },
                            { width: 120 },
                        ],
                        //The title of the sheet.
                        title: "ReportSheet",
                        // The rows of the sheet.
                        rows: rows
                    }
                ]
            });
            // Save the file as an Excel file with the xlsx extension.
            kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: "ReportByKendo.xlsx" });
        });

        $("#exportEPPlus").click(function () {
            var data = dataSource.data();
            $.ajax({
                url: '/Home/ExportToExcel',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: '{data: ' + JSON.stringify(data) + '}',
                success: function (results) {
                    window.location = '/Home/Download';
                }
            })
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: {
                pageSizes: [5, 10, 50]
            },
            columns: [{
                field: "SubCompanyOrBranchName",
                title: "Vùng / Chi nhánh",
                template: function (dataItem) {
                    if (dataItem.TypeBranch == 1)
                        return "<strong>" + kendo.htmlEncode(dataItem.SubCompanyOrBranchName) + "</strong>";
                    else return kendo.htmlEncode(dataItem.SubCompanyOrBranchName);
                }
            },
            {
                field: "Total",
                title: "Tổng",
                template: "<span class=\"count-number\" onclick=\"GoDetail(#= TypeBranch #, '#= SubCompanyOrBranchName #', 0)\">#= (Total == 0) ? ' ' : Total #</span>"
            },
            {
                title: "Chưa xử lý",
                columns: [
                    {
                        field: "CountNotProcessedYet",
                        title: "Số lượng",
                        template: "<span class=\"count-number\" onclick=\"GoDetail(#= TypeBranch #, '#= SubCompanyOrBranchName #', 1)\">#= (CountNotProcessedYet == 0) ? ' ' : CountNotProcessedYet #</span>"
                    },
                    {
                        field: "PercentNotProcessedYet",
                        title: "Tỷ lệ",
                        template: "#= (PercentNotProcessedYet == 0) ? ' ' : PercentNotProcessedYet + '%'#",
                    }
                ]
            },
            {
                title: "Đang xử lý",
                columns: [
                    {
                        field: "CountProcessing",
                        title: "Số lượng",
                        template: "<span class=\"count-number\" onclick=\"GoDetail(#= TypeBranch #, '#= SubCompanyOrBranchName #', 2)\">#= (CountProcessing == 0) ? ' ' : CountProcessing #</span>"
                    },
                    {
                        field: "PercentProcessing",
                        title: "Tỷ lệ",
                        template: "#= (PercentProcessing == 0) ? ' ' : PercentProcessing + '%'#"
                    }
                ]
            },
            {
                title: "Xử lý hoàn tất",
                columns: [
                    {
                        title: "Trong 5 ngày",
                        columns: [
                            {
                                field: "CountProcessedIn5Days",
                                title: "Số lượng (1)",
                                template: "<span class=\"count-number\" onclick=\"GoDetail(#= TypeBranch #, '#= SubCompanyOrBranchName #', 3)\">#= (CountProcessedIn5Days == 0) ? ' ' : CountProcessedIn5Days #</span>"
                            },
                            {
                                field: "PercentProcessedIn5Days",
                                title: "Tỷ lệ",
                                template: "#= (PercentProcessedIn5Days == 0) ? ' ' : PercentProcessedIn5Days + '%'#"
                            }
                        ]
                    },
                    {
                        title: "Quá 5 ngày",
                        columns: [
                            {
                                field: "CountProcessedOver5Days",
                                title: "Số lượng (2)",
                                template: "<span class=\"count-number\" onclick=\"GoDetail(#= TypeBranch #, '#= SubCompanyOrBranchName #', 4)\">#= (CountProcessedOver5Days == 0) ? ' ' : CountProcessedOver5Days #</span>"

                            },
                            {
                                field: "PercentProcessedOver5Days",
                                title: "Tỷ lệ",
                                template: "#= (PercentProcessedOver5Days == 0) ? ' ' : PercentProcessedOver5Days + '%'#"
                            }
                        ]
                    }
                ]
            }
            ],
        });

        
        // khởi tạo grid
        function initDetail() {

            detail_grid = $("#detail-grid").kendoGrid({
                pageable: {
                    pageSizes: [1, 10, 100],
                },
                columns: [{
                    field: "SubCompanyNameVN",
                    title: "Vùng",
                }, {
                    field: "BranchName",
                    title: "Chi nhánh",
                },
                {
                    field: "Status",
                    title: "Tình Trạng",
                },
                {
                    field: "CreateDate",
                    type: "date",
                    format: "{0: yyyy-MM-dd HH:mm:ss}",
                    title: "Ngày tạo",
                },
                {
                    field: "EndDate",
                    type: "date",

                    format: "{0: yyyy-MM-dd HH:mm:ss}",
                    title: "Ngày hoàn thành",
                }],
            }).data('kendoGrid');
        }
        
        initDetail()
        
        /*
            typeBranch: là vùng hay chi nhánh?
            1 : Vùng VD: Vùng 1, vùng 2,...
            2 : Chi nhánh (thuộc vùng) VD: HNI_02, HNI_07,...

            branchName: Tên vùng hoặc tên chi nhánh

            typeCondition: điều kiện
            0 : Tất cả
            1 : Chưa xử lý
            2 : Đang xử lý
            3 : Xử lý hoàn tất trong 5 ngày
            4 : Xử lý hòa tất quá 5 ngày
        */
        function GoDetail(typeBranch, branchName, typeCondition) { // Hàm gán dataSource cho grid_detail

            var dataSourceDetail = new kendo.data.DataSource({
                transport: {
                    read: function (options) {
                        $.ajax({
                            url: '/Home/GetDetailsReport',
                            type: 'POST',
                            data: {
                                'typeBranch': typeBranch,
                                'branchName': branchName,
                                'typeCondition': typeCondition,
                                'page': options.data.page,
                                'pageSize': options.data.pageSize
                            },
                            success: function (result) {

                                var data = getData(result);
                                options.success(data);

                                $('#tabs a[href=#detail]').tab('show');

                                $('#detail-grid').children().last().removeClass("k-pager-sm")
                            }
                        });
                    }
                },
                serverPaging: true,
                schema: {
                    data: "data",
                    total: "total"
                },
                pageSize: 10
            });

            detail_grid.setDataSource(dataSourceDetail); 
        }

        // gán lại data, không thay đổi cấu hình
        //function setDataSource(ctrl, data) {
        //    if (!ctrl) return false
        //    var options = $.extend(true, {}, ctrl.dataSource.options)
        //    options.data = data
        //    ctrl.setDataSource(new kendo.data.DataSource(options))
        //}

    </script>
    <style>
        .k-grid-header table tr th {
            text-align: center;
            align-content: center;
            font-weight: bold;
        }

        .count-number {
            color: #0094ff;
        }

        .count-number:hover {
            cursor: pointer;
        }
    </style>
</body>

</html>
